.main {
    display: flex;
    width: 100vw;
    height: 100vh;

    .left {
        width: 30%;
    }
}

.inventory
{
    display: flex;
    flex-direction: column;
    .grid  
    {
        margin: 10px;
    }
}

.tileContainer 
{
    position: relative;
}

.tile
{
    /* border: 1px;
    border-color: red;
    border-style: solid; */
}